body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background:radial-gradient( #fff, #eaf7ff, #e2f0ff);
}

h1 {
  margin: 0px 0px 50px 0px;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #47b8c6;
  color: white; 
}

button {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 2px solid white;
  border-radius: 15px;
  background: #47b8c6;
  color: white;
  font-weight: bold;
}

#gravity-button, #rotation-button {
  background: #ccced1;
}

.row {
  display: flex; 
  justify-content: center;
}

.square {
  display: flex;
  justify-content:center;
  align-items: center;
  border: 2px solid #eaf3f7;  
  min-width: 100px; 
  min-height: 100px;
  background-color: #fff; 
  color: red;
  font-size: xx-large;
}

#message {
  visibility:hidden;
  padding: 50px;
  border: 2px solid white;
  border-radius: 5px;
  background: #ed806d;
  color: white;
  text-align: center
}